
* {
    box-sizing: border-box;
}
.clear {
    clear: both;
}
body {
    background: #f3f6fa;
}
 .footer {
    border: 1px solid red;
}
.main {
    width: 1250px;
    margin: 50px auto 0;
}
.nav {
    background: #ffffff;
    width: 150px;
    float: left;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.body {
    width: 1080px;
    margin-left: 175px;

}
.nav__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav__image {
    background: url("../images/payer.png") no-repeat center center;
    height: 40px;
    width: 100%;
}
.nav__title {
    text-align: center;
    margin-top: 5px;
}

.nav__link {
    color: #545c66;
    text-decoration: none;
    font-wedateight: bold;
    display: block;
    padding: 20px 0;
}
.nav__link:hover {
    background: #f6f8fb;
    text-decoration: underline;
}
.nav__link:hover .nav__image {
     background: url("../images/payer-hover.png") no-repeat center center;;
}
.breadcrumbs {
    border-bottom: 1px solid silver;
    float: left;
    width: 650px;
}
.loguser {
    float: right;
}
.cabinet, .dash, .profile {
    float: left;
}
.loguser {
    width: 350px;
    float: right;
}
.dash {
    width: 20px;
    text-align: center;
}
.cabinet {
    text-align: center;
}
.cabinet__img {
    float: left;
    width: 20px;
}
.user__img {
    float: left;
}
.content__header--data {
    border-bottom: 1px solid silver;
    height: 110px;
    width: 1025px;
    font-size: 18pt;
    padding: 40px;
}
.user {
    float: left;
}
.block_content {
    float: left;
    width: 930px;
    height: 50px;
    background: #DEF2FC;
}
.surname, .date, .pass, .number, .adress, .number_dog {
    float: left;
    padding: 15px 20px;
}
.surname {
    padding: 15px 20px;
}
.content__data--abonent {
    padding: 40px 15px 15px;
}
.block__content--file {
    float: left;
    padding: 15px 20px;
}
.tel {
    padding: 15px 15px 20px 65px;
}
.email {
    padding: 15px 15px 65px 120px;
}
.messege {
    padding: 15px 15px 120px 300px;
}